
/*! FOOTER */

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    
    padding: 3em 1em;

    color: rgb(179, 179, 179);
}


/*! media query for the footer*/
@media only screen and (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    footer .links {
        width: 100%;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer .socials {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        

    }
}

/*SOCIALS*/

.socials {
    display: flex;
    flex-direction: row;
    color: inherit;
}

.socials img {
    min-height: 20px;
    height: 4vw;
}
/*SOCIALS END*/


.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.links a {
    transition: 200ms ease-in-out;
}

.links a:hover {
    color: white;
}






/*NEWSLETTER*/
.newsletter-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    position: relative;
}

.newsletter-container .text-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.newsletter-container .text-container .text {
    font-size: 17px;
}

.newsletter-container .text-container .focus {
    font-size: 25px;
    font-weight: 600;
}

.newsletter-container .newsletter-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.newsletter-container .icon {
    height: 1.2em;
    width: 1.2em;
}

.newsletter-container input[type=email] {
    background-color: var(--clr-bg-section-bright);
        
    border-radius: var(--std-border-radius);
}


.email-submit-label {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--clr-accent);
    color: white;
    padding: .5em 1.5em;
    border-radius: var(--std-border-radius);
}
.email-submit-label:hover {
    cursor: pointer;
    background-color: white;
    color: var(--clr-accent);
    transition: 200ms ease-in-out;
}
/* .email-submit-label:hover .submit-text{
    width: 0px;
    overflow: hidden;
} */
@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }
    
    33% {
        transform: rotateZ(3deg);
    }
    
    66% {
        transform: rotateZ(-3deg);   
    }
    
    100% {
        transform: rotateZ(0deg);
    }
    
}



.newsletter-container input {
    padding: .4em 1em;

}

.newsletter-container .shake {
    transition: ease-in-out;
    animation: 500ms shake;
}
/*NEWSLETTER END*/
