/*? importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');/*? declaring variables for this file */
/* :root {
    --header-height: 60px;
    --header-gap: 2em; */

    /*? color */
    /* --clr-accent: #8E4706;

    --clr-bg-section-bright: rgb(238, 238, 231);
    --clr-bg-section-dark: #1A1D1A;

    --fnt-header-sml: 27px;
    --fnt-header-large: 40px;
    --fnt-test-medium: 16px;


    --std-border-radius: 2px;
} */

/*! -- OVERALL --*/
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-track {
    background: white;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent);
}
html::-webkit-scrollbar-thumb:active {
    /* background-color:; */
}

/*firefox scrollbar*/
html {
    scrollbar-color: var(--clr-accent);
    /* scrollbar-: white; */
    scrollbar-width: thin;
    position: relative;
}


#jump-to-top {
    position: absolute;
    z-index: 9999;
    right: 0;
    bottom: 0;
}

.img-container {
    border-radius: var(--std-border-radius);
}

/*! -- UTILS --*/
.clr-accent {
    color: var(--clr-accent);
}

.hover-white:hover {
    color: white;
    transition: 200ms ease-in-out;
}

.header-small {
    font-size: var(--fnt-header-sml);
}

.header-large {
    font-size: var(--fnt-header-large);
}

.bg-dark {
    background-color: var(--clr-bg-section-dark) !important;
}

.bg-bright {
    background-color: var(--clr-bg-section-bright) !important;
}

.box-shadow-dark-1 {
    box-shadow: 1px 1px 5px 1px rgba(34, 34, 34, 0.531);
}
.box-shadow-light-1 {
    box-shadow: 1px 1px 2px 3px rgba(136, 136, 136, 0.531);

}


/*! Animation for the underscores on hover*/
@keyframes grow-inline {
    0% {
        width: 0px;
    }
    100%{

        width: 100%;
    }
}


.invisible {
    height: 0px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    left: -10000px;
}

/*! -- HEADER -- */

/* header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 1em 1em;
    position: absolute;
    width: 100%;

    top: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .logo {
    height: 40px;
    width: 35px;
    color: var(--clr-accent)
}


.header-part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--header-gap);

    color: rgba(234, 234, 234, 0.823);
}

nav a:visited {
    color: white;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--header-gap);
}

nav a:hover {
    color: white;
    transition: 200ms ease-in-out;
}

.phone-number-container {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone-number-container:hover {cursor: pointer;}

.phone-number-container > .phone-icon {
    height: 1.2em;
    width: 1.2em;
}

.shopping-cart-container {
    color: inherit;
    height: 20px;
    width: 20px;
} */


/*! -- MAIN --*/

#hero-section {
    color: var(--clr-bg-section-bright);
    padding-top: var(--header-height);
    min-height: calc(50vh + var(--header-height));

    /* background-image: url("../pictures/restaurant-interior-1.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../pictures/restaurant-interior-1.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-origin: */

    display: flex;
    align-items: center;
    justify-content: center;


    background-position-x: var(--mouse-x);
    /* background-position-y: var(--mouse-y); */
    background-position-y: 50%;
}

.hero-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 10vw; */
    width: 55%;

}

#hero-main-text {
    font-size: 3vw;
    font-weight: 500;
}

.hero-subheader {
    font-size: 5vw;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}


.hero-actions-container {
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.hero-cta {
    padding: .4em 1.5em;
    background-color: var(--clr-accent);
    font-size: 25px;

    border-radius: var(--std-border-radius);

    transition: 100ms ease-in-out;
}

.hero-cta:hover {
    background-color: white !important;
    color: var(--clr-accent) !important;
}


.hero-secondary-cta {
    font-size: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    /* width: max-content; */
}
.icon-arrow-right {
    transition: 200ms ease-in-out;
    height: 1.2em;
    width: 1.2em;
}


.hero-secondary-cta:hover .icon-arrow-right {

    transform: translateX(10px);
    font-weight: 600;
}

/*! HERO SECTION END */

/*! known-from section */
/* @keyframes cambio {
    0% {margin-left: 0%}

    50% {margin-left: -30%}

    100% {margin-left: 30%}
} */

#known-from {
    background-color: #1A1D1A;
    filter: brightness(30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#known-from > .header-sml {
    padding: .4em;
    padding-bottom: 0;
    position: absolute;
    top: 1px;

}
#known-from > ul {
    /* width: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    /* min-height: 100px; */
    /* max-height: 200px; */
    /* height: 150px; */
    min-height: 300px;
    padding: 100px 1em; 
    flex-wrap: wrap;
}

#known-from > ul > li {
    height: 100%;
    max-height: 100px;
    max-width: 500px;
    /* position: absolute; */
    /* overflow: hidden; */
    /* flex-shrink: 2; */
}
#known-from > ul > li > img {
    /* height: 100%; */
    flex-shrink: 2;
    max-height: 100%;
    max-width: 100%;
    height: 5vw;
    width: 100%;
}

@keyframes logo-fly-in {
    from {
        transform: translateY(200%);
        filter: opacity(0)
    } 
    to {
        transform: translateY(0px);
        filter: opacity(100)
    }
}

.animate-logo-fly-in {
    /* background-color: red; */
    /* position: absolute;
    top: 0px;
    left: 0px; */
    animation: 2000ms fly-in-below;

}

/*! SEction utility*/

.double-section {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.double-section .content {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70vw;
    height: 100%;
    min-height: 400px;
    padding:1% 0;
    gap: 50px;
}

.double-section .text-container {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
    /* justify-content: space-between; */
    gap: 1em;
    height: 100%;
}

.double-section .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-height: 400px; */
    overflow: hidden;

    background-image: url(../pictures/egg-toast.jpg);
    /* background-origin: center; */
    background-position: center;
    background-size: cover;
}


/*! Section 1*/


#section-1 {
    /* background-color: #ffffff; */
    background-color: var(--clr-bg-section-bright);
    min-height: 500px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#section-1 > .content {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70vw;
    height: 100%;
    min-height: 400px;
    padding:2em 0;
    gap: 50px;
}

#section-1 .text-container {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
    /* justify-content: space-between; */
    gap: 1em;
    height: 100%;
}

.stats {
    display: flex;
    gap: 1em;
}

.single-stat {
    display: flex;
    flex-direction: column;
}

.single-stat > .number-container {
    font-size: 37px;
    font-weight: 800;
}

.single-stat .number {
    
}


#section-1 .cta {
    font-size: 20px;
    margin-top: .5em;
    /* padding: .2em 1em; */
    /* background-color: grey; */
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Merriweather', serif; 
    font-weight: 600;
    width: max-content;
    position: relative;
}

#section-1 .cta:hover .icon-arrow-right {
    margin-left: 5px;
}

#section-1 .cta:hover::after {
    content: "";
    height: 2px;
    position: absolute;
    background-color: var(--clr-accent);
    width: 100%;
    animation: 300ms grow-inline ;
    cursor: pointer;
    bottom: -2px;
    border-radius: var(--std-border-radius);
}


@keyframes fly-in-below {
    from {
        transform: translateY(100%);
    } 
    to {
        transform: translateY(0px);
    }
}

/*Image classes*/
#section-1 .img-container-container { 
    height: 100%;
    position: relative;
}

#section-1 .img-container {
    display: flex;
    align-items: center;
    justify-content: center;


    /* max-height: 400px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    background-image: url(../pictures/egg-toast.jpg);
    /* background-origin: center; */
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 4px 3px rgba(46, 46, 46, 0.342);

}
#section-1 img {
    height: 100%;
    /* z-index: 999; */
    
    
}

/*! Section Location*/

#section-2 {
    background-color: var(--clr-bg-section-dark);
    /* min-height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr; */
}

@keyframes section-2-fly-in {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0);
    }
}

#section-2 .fly-in {
    /* background-color: red; */

    animation: 2000ms section-2-fly-in;

}


#section-2 .topic {
    color: var(--clr-accent);
}

#section-2 .header {
    color: white;
}

#section-2 .text {
    color: rgb(193, 193, 193);
}

#section-2 .cta-section {
    margin-top: 1em;
}

#section-2 .cta-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    position: relative;
}

#section-2 .cta-container:hover .icon-arrow-right {
    margin-left: 5px;
}

#section-2 .cta-container:hover::after{
    content: "";
    height: 2px;
    position: absolute;
    background-color: var(--clr-accent);
    width: 100%;
    animation: 300ms grow-inline ;
    cursor: pointer;
    bottom: -2px;
    border-radius: var(--std-border-radius);
}

#section-2 .cta-container > .icon-arrow-right {
    height: 1.7em;
    width: 1.7em;
}

#section-2 .cta {
    /* background-color: var(--clr-accent); */
    /* padding: .5em 1.5em; */
    border-radius: var(--std-border-radius);
    font-size: 20px;
    font-weight: 600;
}
/* #section-2 .cta:hover {
    transition: 100ms ease-in-out;
    /* background-color: white; */
    /* color: var(--clr-accent) */


#section-2 .img-container {
    background-image: url(../pictures/bar.jpg);
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 100%;

    box-shadow: 1px 1px 4px 3px rgba(28, 28, 28, 0.717);

}




.filler {
    height: 200vh;
}






/*! -- MEDIA QUERIES -- */


@media only screen and (max-width: 850px) {
    
    #hero-section {
        height: 30vh;
    }

}

@media only screen and (max-width: 750px) {
    .hero-content-container {
        /* margin:auto; */
    }

    #hero-main-text {
        font-size: 26px;
    }

    .hero-subheader {
        font-size: 35px;
        max-width: none;
    }

    /*! known-from */
    #known-from > ul > li > img {
        height: 10vw;
        width: 100%;
    }


    /*! Section 1*/
    #section-1 .content{
        grid-template-columns: 1fr;
    }
    #section-1 .img-container {
        display: none;
    }

    /*! double section*/
    .double-section .content{
        grid-template-columns: 1fr;
    }
    .double-section .img-container {
        display: none;

        margin-left: 500px;
    }
    

}

@media only screen and (max-width: 600px) {
    
    header {
        display: none;
    }

    #hero-section {
        padding-top: 0;
    }

 

}